body {
    font-family: Arial, sans-serif;
    padding: 30px;
    height: 100vh;
    background:linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
}

h2 {
   background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 1rem;
}
